@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body{
    font-family: 'Rubik', sans-serif;   
    
}
.carro
{
    color: rgb(4, 75, 156); 
    margin-left:  15%;
    margin-top: 3%;
}
.tituloCarro{
    font-size:25px;
    float:left;
    margin-bottom: 20px;
}
.numProd{
    float:left;
    color: rgb(197, 197, 197);
    font-size: 10px;
    margin-left: 4px;
    margin-top: 13px;
    
}
.titTabla{
    background-color: rgba(186, 213, 238, 0.158);
    text-align: left;
    padding: 18px 18px;
    
}
.fs{
    float: right;
    margin-right: 20px;
}
.products{
    padding-left: 0px;
    clear:both;
    width: 900px;
    height: 100px;
    border: 2px  rgba(241, 244, 245, 0.829);
    font-size: 12px;
    border-collapse: collapse;
}
td{
    border: 2px solid rgba(241, 244, 245, 0.829);

}
.que{
    float:left;
    left: 60px;
}
.cuentas{
    width: 300px;
    text-align: right;
    float:right;
}
.balance{
    padding: 10px 40px 10px 0px;
    text-align: right;
}
.removeButton{
    border:none;
    background-color: white;
    color: rgb(184, 96, 69);
    border-radius: 5px;
}
.removeButton:hover{
    background-color: rgb(247, 222, 222);
}
.imgProd{
    clear:both;
    float:left;
}
.prod1{
    margin-left:10px;
}
.prod2{
    margin-left:10px;
}
.descripcionProd{
    float:left;
    margin-left:40px;
    width:400px
}
.precioProd{
    float:left;
    text-align: right;
    margin-top: 6px;
    margin-left: 22px;
    font-size: 12px;  
}

.vinc{
    font-size: 7px;
}

.cantProd{
    float:left;
    margin-top:15px;
    margin-left:20px;
}
.contadorFormato{
    border: 2px solid rgba(144, 198, 216, 0.829);
    border-collapse: collapse;
}
.btn{
    border:none;
    background-color: white;
    width: 40px;
    height: 21px;
}
#cantidad1,#cantidad2{
    border:none;
    width: 130px;
}
